h1 {
    font-family: "times New Roman", Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

article {
    width: auto;
    max-width: 600px;
    margin-left: auto; /* Margin left and right as auto will center a BLOCL level element! */
    margin-right: auto;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: rgb( 33, 33, 33 ); /* There are a few ways to do color... */
    background-color: #eeeeee;
}
